.form-nav-container {
    display: flex;
    background-color: white;
    font-size: 1rem;
    justify-content: space-between;
    /* border-radius: 1em; */
    margin: 2em 2em;

    box-shadow: 10px 14px 70px rgba(0, 0, 0, 0.03);
}



.form-nav-item {
    padding: 1em ;
    padding-right: 1.2em;
    font-weight: 400;
    display: flex;
    align-items: center;
    
    border-radius: 1em;
    
    color: rgba(170, 170, 170, 1);
}

.item-number{
    background-color: #E1F9F4;
    font-size: .9rem;
    height: 2em;
    aspect-ratio: 1/1;
    color: rgba(166, 166, 166, 1);
    padding: .5em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked{
    background-color: #6AB4F8;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    color: white;
}

.clicked > .item-number{
    background-color: white; 
    color: black;
}